.u-center-text { text-align: center; }
.u-left-text { text-align: left; }
.u-right-text {	text-align: right; }



.u-margin-bottom-big { margin-bottom: 8rem; }

.u-margin-bottom-medium {
	margin-bottom: 4rem;
}

.u-margin-bottom-2-5 {
	margin-bottom: 2.5rem;
}

.u-margin-bottom-small {
	margin-bottom: 2rem;
}

.u-margin-right-medium {
	margin-right: 4rem;
}

.u-margin-right-small {
	margin-right: 2rem;
}


.u-width-50 {
	width: 50%;
}



.u-padding-x-large {
	padding: 0 8rem;
}